body {
  margin: 0px;
  padding: 0px;
}

#prodType {
  width: 96%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  gap: 20px;
  margin-top: 50px;
}
#prodType > div {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 18px;
}
#prodType > div > img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#prodType > div > p {
  margin-top: 7px;
  margin-bottom: 10px;
}

/* <-------  First Image Banner  -------> */

#slidImg {
  margin-top: 50px;
  position: relative;
  border-radius: 20px;
  box-sizing: border-box;
}
#slidImg > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
}
.leftBtn,
.rightBtn {
  position: absolute;
  top: 45%;
  border-radius: 100%;
  padding: 1px 12px;
  font-size: 250%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.leftBtn:hover,
.rightBtn:hover {
  background-color: rgba(136, 124, 98, 0.205);
}
.leftBtn {
  left: -5px;
}
.rightBtn {
  right: -5px;
}

#slidBtn1 {
  width: 15%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}
#slidBtn1 > button {
  padding: 5px;
  border-radius: 100%;
  margin-left: 8px;
  border: 2px solid gray;
  cursor: pointer;
}

#loved {
  margin: auto;
  text-align: center;
  margin-top: 57px;
}
#loved > p {
  font-size: 33px;
  color: rgb(83, 83, 83);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#loved > h1 {
  margin-top: -18px;
  font-size: 52px;
  font-weight: 400;
  color: rgb(77, 76, 76);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#loved > h1 > span {
  font-style: italic;
  font-weight: 500;
  color: rgb(49, 49, 49);
}

/* <-------  Second Image Banner  -------> */

#lovedImg {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  box-sizing: border-box;
}
#lovedImg > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
}

#slidBtn2 {
  width: 15%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}
#slidBtn2 > button {
  padding: 5px;
  border-radius: 100%;
  margin-left: 8px;
  border: 2px solid gray;
  cursor: pointer;
}

.heading {
  margin: auto;
  text-align: center;
  margin-top: 70px;
}
.heading > p {
  font-size: 25px;
  color: rgb(65, 65, 65);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.heading > h1 {
  margin-top: -24px;
  font-size: 38px;
  font-style: italic;
  font-weight: 300;
  color: rgb(39, 39, 39);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* <-------  Cares Category  -------> */

#cares {
  display: flex;
  font-size: 20px;
  color: rgb(88, 88, 88);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-content: center;
}
#cares > div {
  cursor: pointer;
  font-weight: 600;
}

/* <-------  Best Sellers Care Cards  -------> */

#careCard {
  width: 90%;
  display: grid;
  grid-template-columns: 18% 25% 18%;
  gap: 10px;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  border-radius: 6px;
  margin-top: 40px;
  position: relative;
}
#careCard > div > img {
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}
#careCard > div {
  box-shadow: rgba(0, 0, 0, 0.432) 2px 7px 15px;
  border-radius: 6px;
  height: auto;
}
.icons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.icons > div + div {
  font-size: 150%;
  cursor: pointer;
}
.icons > div > span {
  color: black;
}
.icons > div > span > span {
  color: rgb(2, 103, 255);
}
#careCard > div > div + p {
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 5px;
  color: rgb(95, 95, 95);
  font-family: Arial, sans-serif;
}
#careCard > div:nth-child(1) > div + p,
#careCard > div:nth-child(3) > div + p {
  font-size: 80%;
}
#careCard > div:nth-child(1),
#careCard > div:nth-child(3) {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#careCard > div > p + p {
  font-weight: 550;
  font-size: 90%;
  color: rgb(136, 135, 135);
}
del {
  font-weight: 500;
  font-size: 92%;
  color: rgb(116, 116, 116);
}
#careCard>div>p+p{
  font-weight: 600;
  font-size: 92%;
  color: rgb(212, 80, 153);
  font-family: Arial, sans-serif;
}
#careCard > div > button {
  width: 100%;
  color: white;
  background-color: rgb(95, 95, 95);
  padding: 8px;
  font-weight: bold;
  font-size: 96%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: transparent;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

/* <-------  New Arrivals Cards  -------> */

#newArriCard {
  width: 90%;
  display: grid;
  grid-template-columns: 18% 25% 18%;
  gap: 10px;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  border-radius: 6px;
  margin-top: 40px;
  position: relative;
}
#newArriCard > div > img {
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}
#newArriCard > div {
  box-shadow: rgba(0, 0, 0, 0.432) 2px 7px 15px;
  border-radius: 6px;
  height: auto;
}
#newArriCard > div > p:nth-child(4){
  font-weight: 600;
  font-size: 92%;
  color: rgb(212, 80, 153);
  font-family: Arial, sans-serif;
}
#newArriCard > div > div + p {
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 5px;
  color: rgb(95, 95, 95);
  font-family: Arial, sans-serif;
}
#newArriCard > div:nth-child(1) > div + p,
#newArriCard > div:nth-child(3) > div + p {
  font-size: 80%;
}
#newArriCard > div:nth-child(1),
#newArriCard > div:nth-child(3) {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#newArriCard > div > p + p {
  font-weight: 550;
  font-size: 90%;
  color: rgb(136, 135, 135);
}
#newArriCard > div > button {
  width: 100%;
  color: white;
  background-color: rgb(95, 95, 95);
  padding: 8px;
  font-weight: bold;
  font-size: 96%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: transparent;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

/* <--------------       spotlight images         ----------> */

#spotlight1 {
  width: 90%;
  display: grid;
  grid-template-columns: 38% 62%;
  column-gap: 12px;
  margin: auto;
}
#spotlight1 > div {
  border-radius: 13px;
}
#spotlight1 > div > img {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  cursor: pointer;
}

#spotlight2 {
  width: 90%;
  display: grid;
  grid-template-columns: 62% 38%;
  column-gap: 12px;
  margin: auto;
  margin-top: 12px;
}
#spotlight2 > div {
  border-radius: 13px;
}
#spotlight2 > div > img {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  cursor: pointer;
}

/* <--------------       INGREDIENTS CARDS  AND GUIDE CARDS      ----------> */

#ingredientsCard,
#guideCard {
  width: 98%;
  display: grid;
  grid-template-columns: 27% 33% 27%;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  position: relative;
  margin-bottom: 60px;
}
#ingredientsCard > div > img,
#guideCard > div > img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: -2%;
}
#ingredientsCard > div,
#guideCard > div {
  box-shadow: rgba(46, 46, 46, 0.267) 2px 7px 15px;
  border-radius: 15px;
}
#ingredientsCard > button:nth-child(4),
#guideCard > button:nth-child(4) {
  left: -15px;
}
#ingredientsCard > button:nth-child(5),
#guideCard > button:nth-child(5) {
  right: -15px;
}
