
* {
    font-family:'Roboto', sans-serif;
}
#topImage {
    width:100%;
    height:auto;
}
#topImage>img {
    width:100%;
    border-radius: 12px;
}
#topImage+h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: rgb(60,60,60);
    margin-top: 60px;   
}
#allProd {
    width:93%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(3,auto);
    gap:45px 30px;
    padding-bottom: 50px;
    position:absolute;
    padding-left: 40px;
}
#allProd>div {
    
    cursor: pointer;
    position:relative;
}

#allProd>div>div {
    position: absolute;
    right:0px;
    top:0px;
    padding-right: 13px;
}

#allProd>div:nth-child(1)>div {
   background-color: rgb(145,145,145);
   padding: 6px 15px 5px 15px;
   color:white;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 14px;
   letter-spacing: 2px;
}
#allProd>div:nth-child(2)>div {
    background-color: rgb(145,145,145);
    padding: 6px 15px 5px 15px;
    color:white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
 }
 #allProd>div:nth-child(3)>div {
    background-color: rgb(145,145,145);
    padding: 6px 15px 5px 15px;
    color:white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
 }
 #allProd>div:nth-child(4)>div {
    background-color: rgb(145,145,145);
    padding: 6px 15px 5px 15px;
    color:white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
 }
 #allProd>div:nth-child(5)>div {
    background-color: rgb(145,145,145);
    padding: 6px 15px 5px 15px;
    color:white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
 }
 #allProd>div:nth-child(6)>div {
    background-color: rgb(145,145,145);
    padding: 6px 15px 5px 15px;
    color:white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
 }
 #allProd>div:nth-child(7)>div {
    background-color: rgb(145,145,145);
    padding: 6px 15px 5px 15px;
    color:white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
 }
#allProd>div>img {
    width:100%;
}
#allProd>div>h4 {
    text-align: center;
    color:#50504b;
    text-transform:uppercase;
    font-size: 14px;
    margin-bottom: 10px;

}
#allProd>div>h4+p {
    display:inline;
    font-size: 11px;
    margin-left: 85px;
}
#allProd>div>p+p {
    display:inline;
    margin-left: 10px;
    color: #f56266;
    font-size: 11px;
}
#allProd>div>button {
    display:block;
    margin-top: 10px;
    width:100%;
    background-color: rgb(123, 123, 123);
    height:35px;
    border:1px;
    color:white;
    font-weight: bold;
    cursor: pointer;
}
#allProd>div>button:hover {
    background-color: rgb(148, 145, 145);
}
#allProd>div:nth-child(6)>h4 {
    margin-bottom: 43px;
}
#allProd>div:nth-child(7)>h4 {
    margin-bottom: 43px;
}
#allProd>div:nth-child(8)>h4 {
    margin-bottom: 43px;
}
#allProd>div:nth-child(9)>h4 {
    margin-bottom: 40px;
}
#allProd>div:nth-child(10)>h4 {
    margin-bottom: 40px;
}

.checked {
    color:black;
    
}
.rd {
    color:red;
}

span+p {
    display:inline;
    margin-left: 185px;
    font-size:28px;
}
 