*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
} 

#product{
    display: flex;
    width: 94%;
    margin: auto;
    
    height: 650px;
    /* margin-top: 11%; */
}
#pricediv{
    display: flex;
    gap:10px;
    font-size: 30px;
    margin-top: 30px;
}
#pricediv>p:first-child{
    color: rgb(71, 71, 71);
}
p+p{
    color: #FF6781;
    font-weight: 700;
}
button{
    background-color: grey;
    border: transparent;
    padding: 15px 5px;
    width: 60%;
    color: white;
    font-weight: 800;
    font-size: 16px;
    margin-top: 50px;
}
#Info{
    font-size: 30px;
    /* width:500px; */
    font:bold;
    color: rgb(68, 67, 67);
    font-weight: 700;
    line-height: 35px;

    
}
#productimg{
    width:50%;
    height: 400px;
    padding: 30px 20px ;
    margin-top: 50px;
}
#productimg>img{
    width:500px;
    height: auto;
    border-radius: 10px;

}
#productdetail{
    width:50%;
    height: 400px;
    margin-top: 30px;
}
#buttondiv{
    display: flex;
    gap: 15px;
    

}
#buttondiv > div{
margin-top: 12px;

}
#addtocart{
    display: flex;
}
#detail{
    width: 94%;
    display: flex;
    line-height: 40px;
    margin: auto;
    gap:20px;
    font-weight: 500;
    color:rgb(46, 46, 46);
    letter-spacing: 1px;
}
#detail>#right{
    margin-top: -140px;
}
h4{
    padding-left: 30px;
    font-style: italic;
    font-size: 25px;
}
#about{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    color: rgb(78, 78, 78);
    font-size: 15px;
    
}
#p>p{
    font-size: 30px;
}
#about5{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: rgb(78, 78, 78);
    font-size: 15px;
}
#marginTop{
    margin-top: 150px;
}
#logo{
    width: 60%;
    height: auto;
    /* border: 1px solid teal; */
    margin: auto;
    display: flex;
    margin-top: 80px;
}
#logo>.boxA
{
    width: 25%;
    height: auto;
    /* border: 1px solid slateblue; */
}
.boxA>.IMG{
    display: block;
    text-align: center;
    /* border: 1px solid seagreen; */
    width: auto;
    height: auto;
}
.IMG>img{
    width: 40%;
}
.boxA>.INFO{
    display: flex;
    justify-content: center;
    text-align: center;
}
.INFO>h2{
    font-size: 25px;
    font-weight: 500;
    color: rgb(71, 71, 71);
}

#navbar {
    width: 100%;
    height: 23vh;
    border: 1px solid grey;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000;
  }
  #upperNav {
    width: 100%;
    height: 20%;
    background-color: #50504b;
  }
  #bottomNav {
    width: 94%;
    height: 80%;
    margin: auto;
    display: flex;
  }
  #bottomNav > div {
    height: 100%;
    width: 33.33%;
  }
  #leftNav {
    display: flex;
    align-items: center;
  }
  #centerNav > div {
    width: 92%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #centerNav > div > img {
    width: 65%;
    height: 70%;
  }
  #rightNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #rightNav > div {
    width: 94%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #rightNav > div > a {
    text-align: center;
  }
  
  #rightNav > div > input {
    height: 100%;
    width: 300%;
    border-radius: 7px;
    border: 0.1px solid grey;
    font-size: 120%;
    color: grey;
    margin-right: 10px;
  }
  
  svg {
    width: 40%;
    height: 80%;
    cursor: pointer;
  }
  
  #navbar select{
    width: 20px;
    
  }

    
  #footer{
    display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: 1;
   gap: 0px;
   padding-top: 50px;
   padding-right: 50px;
   padding-left: 50px;
   margin-top: 10px;
   
    
}
#footer>div{
    
    display: flex;
    flex-direction: column;
    line-height: 2;
}
#followUs{
    /* width: 60%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
#followUs > p{
    width: 100%;
}
#followUs > a{
    width: 100px;
}
#footer>div>p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 19px;
}

#footer>div>a{
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
  
   margin-top: 5px;
   color: rgb(59, 50, 50);
   font-size: 16px;
   letter-spacing: 2px;

}

#footer>div button{
   
    background-color: black;
    color: white;
    padding: 10px 15px;
}
#footer>div input{
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid black;
    margin-right: 10px;
    height: 100%;
}
#footer #year{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;

}



 
    





