*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#product{
    display: flex;
    width: 94%;
    margin: auto;
    /* justify-content: space-evenly; */
    height: 650px;
}
#pricediv{
    display: flex;
    gap:10px;
    font-size: 30px;
    margin-top: 30px;
}
#pricediv>p:first-child{
    color: rgb(71, 71, 71);
}
p+p{
    color: #FF6781;
    font-weight: 700;
}
button{
    background-color: grey;
    border: transparent;
    padding: 15px 5px;
    width: 60%;
    color: white;
    font-weight: 800;
    font-size: 16px;
    margin-top: 50px;
}
#Info{
    font-size: 30px;
    /* width:500px; */
    font:bold;
    color: rgb(68, 67, 67);
    font-weight: 700;
    line-height: 35px;

    
}
#productimg{
    width:50%;
    height: 400px;
    padding: 30px 20px ;
    margin-top: 50px;
}
#productimg>img{
    width:500px;
    height: auto;
    border-radius: 10px;

}
#productdetail{
    width:50%;
    height: 400px;
    margin-top: 30px;
}
#buttondiv{
    display: flex;
    gap: 15px;
    /* width: 100%; */

}
#buttondiv > div{
margin-top: 12px;
/* font-size: 60px; */
/* width: -30%; */
}
#addtocart{
    display: flex;
}
#detail{
    width: 94%;
    display: flex;
    line-height: 40px;
    margin: auto;
    gap:20px;
    font-weight: 500;
    color:rgb(46, 46, 46);
    letter-spacing: 1px;
}
#detail>#right{
    margin-top: -140px;
}
h4{
    padding-left: 30px;
    font-style: italic;
    font-size: 25px;
}
#about{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    color: rgb(78, 78, 78);
    font-size: 15px;
    /* padding-top: 50px; */
}
#p>p{
    font-size: 30px;
}
#about5{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: rgb(78, 78, 78);
    font-size: 15px;
}
#marginTop{
    margin-top: 150px;
}
#logo{
    width: 60%;
    height: auto;
    /* border: 1px solid teal; */
    margin: auto;
    display: flex;
    margin-top: 80px;
}
#logo>.boxA
{
    width: 25%;
    height: auto;
    /* border: 1px solid slateblue; */
}
.boxA>.IMG{
    display: block;
    text-align: center;
    /* border: 1px solid seagreen; */
    width: auto;
    height: auto;
}
.IMG>img{
    width: 40%;
}
.boxA>.INFO{
    display: flex;
    justify-content: center;
    text-align: center;
}
.INFO>h2{
    font-size: 25px;
    font-weight: 500;
    color: rgb(71, 71, 71);
}


